<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Redefining Convenience">
    <meta name="author" content="Maruf">

    <title>All Categories</title>

    <!-- Bootstrap core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="./vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="./vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./stylesheets/creative.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="position: relative; background-color: #f05f40;">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="./main">QatarHelp</a>        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="./aboutUs">About</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="./faqPage">FAQ</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

 <section id="services" style="padding-top: 50px; padding-bottom: 50px;">
                    <div class="container">
                      <div class="col-lg-12 text-center">
                          <h2 class="section-heading">Pending Requests</h2>
                          <hr class="my-4">
                        </div>

                      <table>
                        <thead>
                          <tr>
                            <th> Reduest ID </th>
                            <th> Request Name </th>
                            <th> Address </th>
                            <th> Time </th>
                            <th> Price (QR) </th>
                            <th> Category </th>
                            <th> Status </th>
                            <th colspan="9"></th>
                          </tr>
                        </thead>

                      <!-- This is where the requests are rendered !-->
                        <tbody>
                          <% requests.forEach(function(request){ %>
                            <tr>
                              <td><%= request.req_id %></td>
                              <td><%= request.service %></td>
                              <td><%= request.location %></td>
                              <td><%= request.time %></td>
                              <td><%= request.price %></td>
                              <td><%= request.category %></td>
                              <% if (request.req_status == 0) { %>
                                <td>Pending</td>
                              <% } if (request.req_status == 1) { %>
                                <td>In Progress</td>
                              <% } %>
                              <td><a href="#">Cancel</a></td>
                              <td><a href="./viewalloffers">View All Offers</a></td>
                            </tr>
                          <% }); %>
                        </tbody>
                      </table>
               
                      </div>
                  </section>

                          <% if (message) { %>
                            <h2><%= message %></h2>
                          <% } %>
    <!-- Footer -->
    <footer class="text-center" >
      <div class="footer-above">
        <div class="container" >
          
      <div class="footer-below">
        <div class="container" style="position: absolute; bottom: 0;">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; Senior Project 2017
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="./javascripts/bootstrap.min.js"></script>
      <script src = "./javascripts/fun.js"> </script>
    <script src="./javascripts/bootstrap.bundle.min.js"></script>
  </body>

</html>
