<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Redefining Convenience">
    <meta name="author" content="Maruf">

    <title>Make A Bid</title>

    <!-- Bootstrap core CSS -->
    <link href="./../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="./../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="./../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./../stylesheets/creative.min.css" rel="stylesheet">
    <link href="css/table1.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/table2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="position: relative; background-color: #f05f40;">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="./main">QatarHelp</a>        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="./aboutUs">About</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="./faqPage">FAQ</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="services" style="padding-top: 30px; padding-bottom: 20px;">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">View Offers</h2>
        <hr class="my-4">
      </div>
      <% if (message != '') { %>
        <p style="color: red;">*<%= message %></p>
      <% } %>
    </section>

    <% if (requests != null) { %>
      <% requests.forEach(function(request){ %>
        <section id="services" style="width: 400px; padding-top: 10px; padding-bottom: 10px; border: 2px solid; float: left; margin: 0 0 5px 50px;">
          <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="font-size: 19px;">Offer By: <%= request.first_name + " " + request.last_name %> </h2>
                <hr style="color: black;">
              </div>
                <h3 style="font-size: 16px;">Request ID:  <%= request.req_id %> </h3>
                <h3 style="font-size: 16px;">Description: <%= request.service %> </h3>
                <h3 style="font-size: 16px;">Asking Price: <%= request.price %> </h3>
                <h3 style="font-size: 16px;">Location: <%= request.location %> </h3>
                <h3 style="font-size: 16px;">Time: <%= request.time %> </h3>
                <h3 style="font-size: 16px;">Category: <%= request.category %></h3>
                <br>
                <h3 style="font-size: 16px;">Offered Price: <%= request.bid_price %> </h3>
                <h3 style="font-size: 16px;">Reason: <%= request.bid_description %> </h3>
                <button>Accept</button>
                <button>Reject</button>
                <button>Negotiate?</button>
            </div>
        </section>
       <% }); %>
    <% } else{ %>
      <p style="color: red; margin: 10px 0 0 40px">*Sorry, no offers have been made on this request so far.</p>
    <% } %>

      
    <!-- Footer -->
    <footer class="text-center">
      <div class="footer-above">
        <div class="container" >
          
      <div class="footer-below">
        <div class="container" style="position: absolute; bottom: 0px;">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; Senior Project 2017
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="./../javascripts/bootstrap.min.js"></script>
      <script src = "./../javascripts/fun.js"> </script>
    <script src="./../javascripts/bootstrap.bundle.min.js"></script>
  </body>

</html>
